{% extends "base.html" %}

{% block body %}

<div class="topnav">
    {% if session.logged_in %}
		<a href="/logout/">Logout</a>
	{% else %}
		<a href="/login/">Login</a>
		<a href="/register/">Sign up</a>
	{% endif %}
</div>
<hr>

{% if session['logged_in'] %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="/detect" method="POST">
                    <span class="login100-form-title p-b-43">
                        URL of website: 
                    </span>
                    
                    <div class="wrap-input100 validate-input" data-validate="Url is required">
                        <input class="input100" type="" name="url" value="{{url}}">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Submit
                        </button>
                    </div>
                    {% if detect == 1  %}
                        <br>
                        <span class="login100-form-title p-b-43 text-success">
                            This website is benign
                        </span>
                    {% elif detect == 2  %}
                        <br>
                        <span class="login100-form-title p-b-43 text-danger">
                            This website is defaced
                        </span>
                    {% endif %}
                </form>
                {% if detect == 0 %}
                    <div class="login100-more" style="background-image: url('../static/images/bg-01.jpg');">
                    </div>
                {% elif detect == 1  %}
                    <div class="login100-more" style="background-image: url('../static/images/detected/{{image_path}}');">
                    </div>
                {% elif detect == 2  %}
                    <div class="login100-more" style="background-image: url('../static/images/detected/{{image_path}}');">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock body %}
